.feedback-container {
  margin-top: 20px;
}

p {
  font-weight: bold;
  font-size: 1.2rem;
  color: #16a085;
}

p.bad {
  color: #e74c3c;
}

p.total {
  font-size: 1.2rem;
  font-weight: bold;
}
.container {
  margin-top: 20px;
}

.feedbackText {
  font-size: 18px;
}
